block content
	p
		h3 General data
		ul
			li Full name: #{full}
			li Gender: #{gender}
			li Age: #{age}
	p
		h3 Friends
		ul
			each val in friends
				li= val
	p
		h3 Friend of friends
		ul
			each val in fof
				li= val

	p
		h3 Suggested friends
		ul
			each val in suggestedFriends
				li= val